@media (max-width: 784px) {
    .container {
        max-width: 600px;
        margin: auto;
        margin-top: 50px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 500px;
        margin: auto;
        margin-top: 40px;
    }
}

@media (max-width: 784px) {
    .container {
        max-width: 600px;
        margin: auto;
        margin-top: 50px;
    }
}

@media (max-width: 624px) {
    .container {
        max-width: 500px;
        margin: auto;
        margin-top: 35px;
    }
}

@media (max-width: 550px) {
    .container {
        max-width: 350px;
        margin: auto;
        margin-top: 35px;
    }
}

@media screen and (max-width: 480px) { 
    .container {
        max-width: 290px;
        margin: auto;
        margin-top: 30px;
        text-align: center;
    }

    /* Correção do zoom padrão navagador mobile */
    input, select {
      font-size: 16px;
    }
   
  }